doctype html
html(lang="en")
  head
    title upload-files-node (ListFiles)
    meta(charset="utf-8")
    link(href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    script(type="text/javascript" src="/libs/jquery/jquery-3.1.0.min.js")
    script(type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js")
  body
    div(class="container")
      div(class="col-md-12" style="margin-top: 20px;")
        h1(class="text-center") Welcome ListFiles
      div(class="col-md-12")
        div(class="panel panel-default")
          div(class="panel-heading" style="padding-bottom: 30px;")
            div(class="col-md-3 inline-block tab-tab")
              div(class="tab-link") #[span(class="glyphicon glyphicon-home" aria-hidden="true")] #[a(class="" href="/") Home]
            div(class="col-md-3 inline-block tab-tab")
              div.tab-link  #[span(class="glyphicon glyphicon-plus" aria-hidden="true")] #[a(href="/newFile") Upload New File]
            div(class="col-md-3 inline-block tab-tab")
              div.tab-link  #[span(class="glyphicon glyphicon-th-list" aria-hidden="true")] #[a(href="/files") List Files]
            div(class="col-md-3 inline-block tab-tab")
              div.tab-link #[span(class="fa fa-github fa-lg" aria-hidden="true")] #[a(href="https://github.com/luirting/upload-files-node" target="_blank") GitHub]
          div(class="panel-body")
            div(class="col-md-12")
              h1.text-center File List
              table(class="table table-bordered")
                thread
                  tr
                    th ID
                    th FileName
                    th Description
                    th Action
                tbody
                  for data in result
                    tr
                      td #{data.id}
                      td #{data.fileName}
                      td #{data.fileDescription}
                      td
                        a(href="/download/#{data.id}" target="_blank") Download
